*{
    margin: 0px;
}

.menu {
    background-color: black;
    height: 40px;
    display: center;
    align-items: center;
    padding-right: 10px;
}

.home {
    color: aliceblue;
    font-size: 30px;
    display: center;
    align-items: center;

}